**/.idea
**/__pycache__
**/Database
**/*.pth
**/Cifar-10
**/logs_vgg
Clone/
**/*.zip
**/*.pt
**/*.gz
**/.vs
**/*.bmp
**/*.jpg
**/*.jpeg
**/*.eif
**/Debug
**/Release
Pytorch/DenseNet_Cifar10/data
**/venv
**/data/