.idea/
.vscode/
.vs/
__pycache__/
*.zip
*.pt
*.pth
*.gz
*.pkl
*.dcm
*.nii

Clone/
Preprocess/

Debug/
Release/
venv/

*/checkpoints/
./Project/3D_Segmentation/fixed_data
./Project/cnv_segmentation/result/.
./Project/DenseNet_Cifar10/data/.
./Project/CNV_Segmentation_tvt/reference/
*.ckpt
*.h5
result/
results/
logs/
checkpoint/
checkpoints/



*.bmp
*.jpg
*.jpeg
*.eif
*.png